
.col-sm-9{
    height: 90%;
    opacity: 0.9;
    margin-left: 412px;
}

.table-responsive{
  margin-right: 10px; 
  width: auto 0px;
}

p {
  margin-left: 8px;
  line-height: 20px;
}

label {
  margin-bottom: 0;
}

.nav-side-menu {
  overflow: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 390px;
  height: 100%;
  color: black;
  border-right: 1px solid black;
}
.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: none;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid lightblue;
  background-color: white;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: black;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: black;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: rgb(177, 192, 207);
  border: none;
  line-height: 28px;
  border-bottom: 1px solid black;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: rgb(82, 112, 141);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid lightblue;
  border-bottom: 1px solid black;
}
.nav-side-menu li a {
  text-decoration: none;
  color: black;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid black;
  background-color: #9cc0e9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

  }
   
  .table-responsive {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  margin-left: 10px !important;
  }

  .table-bordered{
    margin-left: 10px !important;
  }

  #grafico{
    margin-left: 10px !important;
  }
  
  #rodape{
    margin-left: 10px !important;
    right: 25% !important;
    bottom: 0% !important;
    position: fixed !important;
    visibility: hidden !important;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

}

body {
  margin: 0px;
  padding: 0px;
}

#processo{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}
#codigo{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}
#pilha{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}
#dado{
  width: 70%;
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}




#btnPauseSimu{
  background-color: #008B8B;  /*Botao pausar simulacao*/
  margin-top: 9px;
  height: 45px;
}

#btnSimular:hover{
  background-color: #005cbe;
}

.nav-side-menu{
  font-size: 14px;

}

#display{
  background: #000000;
}

#media{
    height: 100%;
    width: 880px;
    margin-left: 400px;
    margin-right: 1px;

}



body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: rgb(151, 151, 151);
}
.container-fluid {
  margin-top: 1%;
  margin-bottom: 0%;
  
}
.table {
  font-size: 14px;
  text-align: center;
  
}
.center {
  text-align: center;
  
}
.left-page{
  margin-left: 22%;
}
.center-right{
  text-align: right;
}
.center-right{
  text-align: right;
}
td {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.table-memoria-fisica {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
   margin-left: 10px !important
}
.distancia-botao-processos {
  margin-right: 10px;
}
